html
{
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
}


body
{
	background-color: #e1e9b8;
	margin: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
}


/* texte logo etc...*/

#fond
{

	background-image:url(sophro.jpg);
	background-repeat:no-repeat;
	height: 1300px;
	width:900px;
	border: #d3fcad 2px solid;
}


#baniere
{
	
	margin-top:30px;
	margin-left: 0px;
    height: auto;
    width:900px;
    position: relative;
    border: #d3fcad 1px solid;
    box-shadow: 1px 1px 1px white; 
}

#page
{

	width:900px;
	height:1200px;	
}


#logo
{
	width:160px;
	margin-right: 900px;
	margin-bottom: -50px;
	margin-top:-20px;
	margin-left: 20px;
	display: inline-block;
}


h1
{
	 color:white;
	 font-size: 25px;
	 margin-left: -200px;
	 width: 400px;
	 line-height:18px;
	 font-family: 'Bad Script', cursive;
	 text-align: left;
	 text-decoration: underline
}


h2
{

	font-family: 'Bad Script', cursive;
 	font-size: 40px;
 	color: #669900;
 	text-decoration: underline;
}


h4
{
	font-family: 'Roboto', sans-serif;
 	font-size: 14px;
 	color: white;
 	text-decoration: underline;
}


h5
{

	font-family: 'Roboto', sans-serif;
 	font-size: 12px;
 	color: white;

}


p{

	color: #225d13;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	font-size:16px;
	font-style: oblique;
 	background: linear-gradient(bottom,rgba(255,255,255,0.8), rgba(255,255,255,0.4));
 	background:-webkit-linear-gradient(bottom,rgba(255,255,255,0.8), rgba(255,255,255,0.4));
 	background:-moz-linear-gradient(bottom,rgba(255,255,255,0.8), rgba(255,255,255,0.4));
 	border-radius: 5px;
 	padding:8px;
 	border: #d3fcad 1px solid;
 	margin:5px;
}



/*navigation*/


nav
{


    width: 700px;
	color: white;
	padding: 0px 10px 10px 10px ;
}


ul
{
	float: right;
	margin-right: -85px;
	margin-top: 0;
}


nav ul
{
	margin-top: 0px;
    list-style-type: none;
    line-height: 30px;
}


nav li
{

    display: inline-block;
	margin-right: 5px;
	background: linear-gradient(bottom,rgba(102,153,0,0.9), rgba(102,152,0,0.5));
	background:-webkit-linear-gradient(bottom,rgba(2102,153,0,0.9), rgba(102,152,0,0.5));
	background:-moz-linear-gradient(bottom,rgba(102,153,0,0.9), rgba(102,152,0,0.5));
	padding: 3px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border: #d3fcad 2px solid;
	border-top: inherit;
}


li
{

	font-size: 20px;
	padding: 3px;
}


a
{
	text-decoration: none;
	color:white;
}


nav,li a:hover
{
	color: yellow;
}


/*barre de côté*/


.info
{
	margin-top: 130px;
	background: linear-gradient(bottom,rgba(102,153,0,0.9), rgba(102,152,0,0.5));
	background:-webkit-linear-gradient(bottom,rgba(2102,153,0,0.9), rgba(102,152,0,0.5));
	background:-moz-linear-gradient(bottom,rgba(102,153,0,0.9), rgba(102,152,0,0.5));
	width: 150px;
	height: 900px;
	display: inline-block;
	float: right;
	border: #d3fcad 1px solid;
	border-radius: 5px;
	margin-right:15px;
	padding: 8px;
}


#avatar
{

	width: 150px;
	height: auto;
	border: 1px solid white;
	margin-right: 800px;
	margin-top: 10px;
	display: block;
}

#enveloppe
{

	width: 100px;
}
 
#ico_plan

{
	width:50px;
	display: inline-block;
	margin-left: 10px;
}

/*page accueil*/


.accompagnement, .presentation
{
	display: block;
	float: left;
}


.accompagnement
{
	margin-top: -220px;
	width: 650px;
	height: 450px;
	margin-left: 35px;
}


.accompagnement h1
{
	
	color:white;
	margin-left: -200px;
}


.presentation 
{
	margin-left: 35px;
	margin-top: 100px;
	width:650px;
	height:450px;
	display: inline-block;
}


.presentation h1
{

	color:white;
	margin-left: -200px;
	margin-top: 10px;
}




/* Page La sophrologie*/

.lasophro
{
	margin-top: 100px;
	width:650px;
	float: left;
	margin-left: 40px
}



.objectif
{
	margin-top: 50px;
	width:650px;
	float: left;
	margin-left: 40px
}

.aide
{
	margin-top: 50px;
	width:650px;
	float: left;
	margin-left: 40px
}

/* Séance et tarifs */

#seances-tarifs
{
	margin-top: 100px;
	margin-left: 180px;
	display: inline-block;
}


.seancesgroupe 
{
	width: 650px;
	display: block;

}


.seancesindiv 
{
	width:650px;
	display: block;
}

.seancesgroupe

{
	
	margin-left: -180px;
 	color:white;
 	display: block;
}

.seancesindiv

{
	
	margin-left: -180px;
	color:white;
}



#photogroupe
{

	margin-left: -400px;
	margin-bottom: 20px;
	width:200px;
 	border: #d3fcad 1px solid;
 	border-radius: 6px;
 	display: block;
}


#photoindiv
{

	margin-left: -400px;
	margin-bottom: 20px;
	width:200px;
 	border: #d3fcad 1px solid;
 	border-radius: 6px;
 	display: block;
}


/*pied des pages*/

footer, 
{
	position:relative;
	margin-top:0;
	font-size: 20px;
	color: white;
	text-align: center;
	width:900px;
}

#citation
{
	font-family: 'Bad Script', cursive;
	background-color:#669900;
	color:white;
	height: 60px;
	width: 900px;
	border-top: solid 0.4px white;
	border-bottom: solid 0.4px white;
	margin:center;
}

